Apple Inc., dříve Apple Computer Inc., je Americká firma se sídlem ve městě Cupertino v Kalifornii. Firma byla založena v roce 1976. Tato firma se specializuje na hardware a software. Jejich nejznámějšími produkty jsou: řada počítačů Mac, sada kapesních počítačů a MP3 přehrávačů iPod, chytrý telefon iPhone a tablet iPad. V počítačích Apple je operační systém OS X a dotyková zařízení jsou poháněna operačním systémem iOS. Dalším známým softwarem je program iTunes, díky kterému můžeme získávat hudbu. Mezi další aplikace od firmy Apple se řadí sada kancelářského balíku iWork a sada na vytváření hudby, fotek a videí iLife.
Apple ale také vyvíjí a zavádí produkty v jiných oblastech. V poslední době je úspěšná řada multimediálních přehrávačů iPod, který se stal s více než 100 miliony prodanými kusy[1] nejprodávanějším MP3 přehrávačem na světě. V lednu 2007 Apple představil mobilní telefon iPhone a roku 2010 tablet iPad.

- content_for :bow do
  %header.main
    %h1 Apple