%article.page
  .wrap{class: ('ilustrated' if page.image?)}
    = manage_icons page, except: [:new, :list]
    .ilustration= link_to image_tag(page.image.landscape.thumb), page
    %header
      %h2= editable page, :title, nested: :translations, nid: page.translation.id, e: link_to(page.title, page)
    .content= extract page.content, truncate: 190