- content_for :before_content do
  #before-content
    .wrapper
      #before-content-content
        %header.main
          %h1= t '.title'
          = create_button Scroll::Page

%section#content
  #pages= render @pages

.sidebar.sidebar-right
  = render_cell 'scroll/page', :list