#content.col-md-12
  %article.page
    %header.page-header.manage-header
      %h1= editable @page, :title, nested: :translations, nid: @page.translation.id
      = manage_icons @page
    .content.row.justify
      - if @page.image?
        .col-md-5
          = image_tag @page.image.row_fill, class: 'img-polaroid' 
      %div{ class: @page.image? ? 'col-md-7' : 'col-md-12' }
        = @page.content.html_safe if @page.content