- content_for :before_content do
  #before-content
    .wrapper
      #before-content-content
        %header.main
          = manage_icons @page
          %h1= editable @page, :title, nested: :translations, nid: @page.translation.id

%section#content
  %article.page
    .wrap{class: ('ilustrated' if @page.image?)}
      .ilustration= image_tag @page.image.original.thumb
      .content= @page.content.try(:html_safe)